Repository crescent-network/crescent, changes with the labels that .github/labeler.yml gives for each.
All labels: x/claim, x/farming, x/liquidity, x/liquidstaking, x/liquidfarming, x/liquidamm, x/mint, x/marketmaker, x/lpfarm, x/marker, x/budget, x/exchange, x/amm, documentation, build, ci

.github/labeler.yml:

"x/claim":
  - x/claim/**/*
"x/farming":
  - x/farming/**/*
"x/liquidity":
  - x/liquidity/**/*
"x/liquidstaking":
  - x/liquidstaking/**/*
"x/liquidfarming":
  - x/liquidfarming/**/*
"x/liquidamm":
  - x/liquidamm/**/*
"x/mint":
  - x/mint/**/*
"x/marketmaker":
  - x/marketmaker/**/*
"x/lpfarm":
  - x/lpfarm/**/*
"x/marker":
  - x/marker/**/*
"x/budget":
  - x/budget/**/*
"x/exchange":
  - x/exchange/**/*
"x/amm":
  - x/amm/**/*
"documentation":
  - docs/**/*
"build":
  - Makefile
  - scripts/*
"ci":
  - buf.yaml
  - .golangci.yml

fix: fix model tests
  x/amm/keeper/position_test.go
  x/amm/types/check.go
Labels: x/amm

fix: fix bugs
  x/amm/keeper/source.go
  x/exchange/keeper/matching.go
Labels: x/exchange, x/amm

test: fix tests
  x/amm/keeper/grpc_query_test.go
Labels: x/amm

refactor: safely run batch matching using cached ctx
  x/exchange/abci.go
Labels: x/exchange

fix: prevent creating public positions with same parameters
  x/liquidamm/keeper/public_position.go
  x/liquidamm/keeper/public_position_test.go
  x/liquidamm/keeper/store.go
  x/liquidamm/types/errors.go
  x/liquidamm/types/keys.go
Labels: x/liquidamm

test: fix key tests
  x/liquidamm/types/keys_test.go
Labels: x/liquidamm

fix: update default params for mainnet upgrade
  app/upgrades/mainnet/v5/upgrade.go
Labels: none

chore: remove unused constant
  app/params/weights.go
Labels: none

chore: fix typo
  app/testutil/liquidamm.go
  x/amm/simulation/operations.go
Labels: x/amm

fix: check if sim acc has enough funds to fees
  x/amm/simulation/operations.go
  x/exchange/simulation/operations.go
Labels: x/exchange, x/amm

feat: add PositionAssets query
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/query.proto
  x/amm/client/cli/query.go
  x/amm/keeper/grpc_query.go
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/position.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
Labels: x/amm

docs update
  docs/api/amm.md
  docs/api/exchange.md
  docs/api/liquidamm.md
  docs/api/liquidfarming.md
  docs/cli/amm.md
  docs/cli/exchange.md
  docs/cli/liquidamm.md
  docs/cli/liquidfarming.md
  go.mod
  go.sum
Labels: documentation

fix: do not use nested iteration
  app/upgrades/mainnet/v5/upgrade.go
Labels: none

refactor: rename lashare to sb(snowball)
  x/liquidamm/keeper/auction_test.go
  x/liquidamm/keeper/grpc_query.go
  x/liquidamm/keeper/grpc_query_test.go
  x/liquidamm/keeper/public_position_test.go
  x/liquidamm/types/auction_test.go
  x/liquidamm/types/msgs_test.go
  x/liquidamm/types/public_position.go
  x/liquidamm/types/public_position_test.go
Labels: x/liquidamm

fix: prevent IteratePoolOrders to run forever
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
Labels: x/amm

fix: fix bug in IteratePoolOrders
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/pool.go
  x/amm/types/tick_test.go
Labels: x/amm

fix: prevent negative price panic when querying order book
  x/amm/keeper/grpc_query_test.go
  x/exchange/keeper/grpc_query.go
Labels: x/exchange, x/amm

ci: fix lint issues
  x/amm/keeper/grpc_query_test.go
Labels: x/amm

fix: set last market id in upgrade handler
  app/upgrades/mainnet/v5/upgrade.go
  app/upgrades/mainnet/v5/upgrade_test.go
Labels: none

fix: fix proposal tx help msgs
  x/amm/client/cli/tx.go
  x/exchange/client/cli/tx.go
Labels: x/exchange, x/amm

fix: pass events emitted inside cached context to original context
  x/exchange/abci.go
Labels: x/exchange

fix: limit market orders' price impact to MaxOrderPriceRatio
  x/amm/keeper/farming_test.go
  x/amm/keeper/invariants_test.go
  x/amm/keeper/order_test.go
  x/amm/keeper/position_test.go
  x/amm/keeper/sim_test.go
  x/exchange/keeper/order.go
  x/exchange/keeper/order_test.go
  x/exchange/simulation/operations.go
  x/exchange/simulation/operations_test.go
Labels: x/exchange, x/amm

docs update
  docs/api/liquidamm.md
  docs/cli/exchange.md
  docs/cli/liquidamm.md
Labels: documentation

fix: add default_min_order_quantity, default_min_order_quote params
  app/upgrades/mainnet/v5/upgrade.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/params.proto
  x/amm/keeper/params.go
  x/amm/keeper/pool.go
  x/amm/simulation/decoder_test.go
  x/amm/types/params.go
  x/amm/types/params.pb.go
  x/amm/types/params_test.go
  x/amm/types/pool.go
  x/amm/types/pool_test.go
Labels: x/amm

fix: check base coin balance in PlaceMarketOrder
  x/exchange/keeper/order.go
  x/exchange/keeper/order_test.go
Labels: x/exchange

chore: revert changes in go.mod and go.sum
  go.mod
  go.sum
Labels: none

docs: update spec docs
  x/amm/spec/02_state.md
  x/amm/spec/06_params.md
  x/amm/spec/README.md
  x/exchange/spec/02_state.md
  x/exchange/spec/03_messages.md
  x/exchange/spec/06_params.md
  x/exchange/spec/README.md
  x/liquidamm/spec/01_concepts.md
  x/liquidamm/spec/02_state.md
  x/liquidamm/spec/03_state_transitions.md
  x/liquidamm/spec/04_messages.md
  x/liquidamm/spec/05_begin_block.md
  x/liquidamm/spec/06_events.md
  x/liquidamm/spec/07_params.md
  x/liquidamm/spec/README.md
Labels: x/liquidamm, x/exchange, x/amm

fix: update x/liquidstaking to use new modules
  app/app.go
  types/utils.go
  x/liquidstaking/keeper/keeper.go
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/keeper/tally_test.go
  x/liquidstaking/spec/01_concepts.md
  x/liquidstaking/spec/06_hooks.md
  x/liquidstaking/types/expected_keepers.go
Labels: x/liquidstaking

feat: emit EventOrderCompleted when order is completed and deleted
  proto/crescent/exchange/v1beta1/event.proto
  x/exchange/keeper/matching.go
  x/exchange/types/event.pb.go
Labels: x/exchange

fix: check if amm position is initialized
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/types/expected_keepers.go
Labels: x/liquidstaking

fix: force paid/received/deposit to be integers for user orders
  x/exchange/keeper/invariants.go
  x/exchange/keeper/matching.go
  x/exchange/keeper/order_test.go
  x/exchange/types/mem_order.go
Labels: x/exchange

docs: fix typo in docs
  docs/cli/liquidamm.md
Labels: documentation

test: add test case
  x/liquidstaking/keeper/tally_test.go
Labels: x/liquidstaking
