Repository crescent-network/crescent, changes with the labels that .github/labeler.yml gives for each.
All labels: x/claim, x/farming, x/liquidity, x/liquidstaking, x/liquidfarming, x/liquidamm, x/mint, x/marketmaker, x/lpfarm, x/marker, x/budget, x/exchange, x/amm, documentation, build, ci

.github/labeler.yml:

"x/claim":
  - x/claim/**/*
"x/farming":
  - x/farming/**/*
"x/liquidity":
  - x/liquidity/**/*
"x/liquidstaking":
  - x/liquidstaking/**/*
"x/liquidfarming":
  - x/liquidfarming/**/*
"x/liquidamm":
  - x/liquidamm/**/*
"x/mint":
  - x/mint/**/*
"x/marketmaker":
  - x/marketmaker/**/*
"x/lpfarm":
  - x/lpfarm/**/*
"x/marker":
  - x/marker/**/*
"x/budget":
  - x/budget/**/*
"x/exchange":
  - x/exchange/**/*
"x/amm":
  - x/amm/**/*
"documentation":
  - docs/**/*
"build":
  - Makefile
  - scripts/*
"ci":
  - buf.yaml
  - .golangci.yml

feat: order source can specify different fee rate
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/source.go
  x/amm/types/params.go
  x/exchange/keeper/matching.go
  x/exchange/types/matching.go
  x/exchange/types/mem_order.go
  x/exchange/types/mem_order_test.go
  x/exchange/types/source.go
Labels: x/exchange, x/amm

feat: add PositionAssets query
  app/testutil/amm.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/query.proto
  x/amm/client/cli/query.go
  x/amm/keeper/grpc_query.go
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/position.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
Labels: x/amm

fix: add liquidamm module to v5 store upgrades
  app/upgrades/mainnet/v5/upgrade.go
Labels: none

fix: check sim acc has market creation fee
  x/exchange/simulation/operations.go
Labels: x/exchange

chore: fix typo and remove unused constant
  app/params/weights.go
  x/amm/simulation/operations.go
Labels: x/amm

fix: use PositionAssets query instead of RemoveLiquidity
  x/amm/keeper/check.go
Labels: x/amm

fix: prevent creating public position with same parameters
  x/liquidamm/keeper/public_position.go
  x/liquidamm/keeper/public_position_test.go
  x/liquidamm/keeper/store.go
  x/liquidamm/simulation/operations.go
  x/liquidamm/simulation/proposals.go
  x/liquidamm/types/check.go
  x/liquidamm/types/errors.go
  x/liquidamm/types/keys.go
Labels: x/liquidamm

chore: fix model tests
  x/amm/types/check.go
Labels: x/amm

fix: return total liquidity in query response
  x/amm/types/query.go
Labels: x/amm

fix: do not update matching height when there's no matching
  x/exchange/keeper/batch.go
  x/exchange/types/matching.go
Labels: x/exchange

feat: add position_id in public position query
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/liquidamm/v1beta1/query.proto
  x/liquidamm/keeper/grpc_query.go
  x/liquidamm/keeper/grpc_query_test.go
  x/liquidamm/types/query.pb.go
Labels: x/liquidamm

fix: break loop if remaining qty is zero
  x/exchange/types/matching.go
Labels: x/exchange

fix: return position_id as 0 if amm position is not created yet
  x/liquidamm/keeper/grpc_query.go
  x/liquidamm/keeper/grpc_query_test.go
Labels: x/liquidamm

fix: fix pool query (include missing fields in response)
  x/amm/keeper/grpc_query_test.go
  x/amm/types/query.go
Labels: x/amm

fix: check pool creation fee in sim
  x/amm/simulation/operations.go
Labels: x/amm

fix: trying to fix amount in diff negative error (WIP)
  x/amm/keeper/pool_test.go
  x/amm/keeper/source.go
  x/exchange/keeper/grpc_query_test.go
  x/exchange/keeper/order_test.go
  x/exchange/types/matching.go
  x/exchange/types/mem_order.go
Labels: x/exchange, x/amm

fix: apply conservative qty/quote limits
  x/amm/keeper/source.go
  x/exchange/keeper/order.go
  x/exchange/types/matching.go
Labels: x/exchange, x/amm

fix: accure fix correctly
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/position_test.go
  x/amm/keeper/source.go
Labels: x/amm

fix: fix model test
  x/amm/types/check.go
Labels: x/amm

refactor: use binary search to find the next pool order tick
  x/amm/keeper/pool.go
Labels: x/amm

fix: skip batch matching when order book is not overlapping
  x/exchange/keeper/batch.go
Labels: x/exchange

fix: solve inequality instead of using binary search
  app/upgrades/mainnet/v5/upgrade.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/types/tick.go
  x/amm/types/tick_test.go
Labels: x/amm

fix: set quote limit when buying
  app/upgrades/mainnet/v5/upgrade.go
  x/amm/keeper/order_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_bench_test.go
  x/amm/keeper/pool_test.go
  x/amm/simulation/operations.go
  x/amm/types/math_test.go
  x/amm/types/params.go
  x/exchange/keeper/order.go
Labels: x/exchange, x/amm

feat!: use custom fee ratio for order source orders
  app/upgrades/mainnet/v5/upgrade.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/exchange/v1beta1/event.proto
  proto/crescent/exchange/v1beta1/exchange.proto
  proto/crescent/exchange/v1beta1/params.proto
  proto/crescent/exchange/v1beta1/proposal.proto
  x/exchange/keeper/market.go
  x/exchange/keeper/proposal_handler.go
  x/exchange/keeper/proposal_handler_test.go
  x/exchange/simulation/decoder_test.go
  x/exchange/simulation/genesis.go
  x/exchange/simulation/params_test.go
  x/exchange/simulation/proposals.go
  x/exchange/simulation/proposals_test.go
  x/exchange/types/event.pb.go
  x/exchange/types/exchange.pb.go
  x/exchange/types/fee.go
  x/exchange/types/market.go
  x/exchange/types/market_test.go
  x/exchange/types/matching.go
  x/exchange/types/matching_test.go
  x/exchange/types/mem_order_test.go
  x/exchange/types/params.go
  x/exchange/types/params.pb.go
  x/exchange/types/params_test.go
  x/exchange/types/proposal.go
  x/exchange/types/proposal.pb.go
  x/exchange/types/proposal_test.go
Labels: x/exchange

test: improve sim test performance
  x/amm/simulation/operations.go
  x/amm/types/params.go
  x/amm/types/pool.go
  x/exchange/simulation/operations.go
Labels: x/exchange, x/amm

fix: include fees in market query response and fix tests
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/exchange/v1beta1/query.proto
  x/exchange/keeper/grpc_query_test.go
  x/exchange/simulation/operations_test.go
  x/exchange/types/query.go
  x/exchange/types/query.pb.go
Labels: x/exchange

chore: remove typo
  x/amm/types/math_test.go
Labels: x/amm

fix: do not halve order source fee ratio
  x/exchange/types/matching.go
Labels: x/exchange

test: fix tests
  x/amm/simulation/operations_test.go
  x/amm/types/math_test.go
Labels: x/amm

fix: improve code readability
  x/exchange/types/matching.go
Labels: x/exchange

feat: add pool min_order_quote
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/amm.proto
  proto/crescent/amm/v1beta1/event.proto
  proto/crescent/amm/v1beta1/proposal.proto
  proto/crescent/amm/v1beta1/query.proto
  x/amm/keeper/pool.go
  x/amm/keeper/pool_bench_test.go
  x/amm/keeper/proposal_handler.go
  x/amm/keeper/proposal_handler_test.go
  x/amm/keeper/source.go
  x/amm/simulation/proposals.go
  x/amm/types/amm.pb.go
  x/amm/types/event.pb.go
  x/amm/types/params.go
  x/amm/types/pool.go
  x/amm/types/pool_test.go
  x/amm/types/proposal.go
  x/amm/types/proposal.pb.go
  x/amm/types/proposal_test.go
  x/amm/types/query.go
  x/amm/types/query.pb.go
Labels: x/amm

fix: fix model test
  x/amm/keeper/source.go
  x/amm/types/check.go
Labels: x/amm

fix: maker fee rate must be positive now
  app/testutil/amm.go
  app/testutil/exchange.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/exchange/v1beta1/params.proto
  x/amm/keeper/pool.go
  x/amm/keeper/source.go
  x/exchange/keeper/grpc_query_test.go
  x/exchange/keeper/market.go
  x/exchange/keeper/matching.go
  x/exchange/keeper/order_test.go
  x/exchange/keeper/params.go
  x/exchange/simulation/genesis.go
  x/exchange/simulation/params_test.go
  x/exchange/types/fee.go
  x/exchange/types/fee_test.go
  x/exchange/types/market.go
  x/exchange/types/market_test.go
  x/exchange/types/matching.go
  x/exchange/types/mem_order.go
  x/exchange/types/mem_order_test.go
  x/exchange/types/params.go
  x/exchange/types/params.pb.go
  x/exchange/types/params_test.go
  x/exchange/types/proposal.go
  x/exchange/types/proposal_test.go
  x/exchange/types/source.go
Labels: x/exchange, x/amm

chore: remove debug prints
  x/amm/keeper/source.go
Labels: x/amm

test: fix test
  x/amm/types/proposal_test.go
Labels: x/amm

test: fix test
  x/amm/keeper/pool_test.go
Labels: x/amm

fix: place order only when open qty is positive
  x/amm/keeper/pool.go
  x/amm/keeper/source.go
  x/exchange/types/matching.go
Labels: x/exchange, x/amm

fix: include error in invariant error msg
  x/amm/keeper/invariants.go
Labels: x/amm

fix: fix typo
  x/amm/types/check.go
Labels: x/amm

fix: fix model tests
  x/amm/types/check.go
  x/exchange/types/check.go
Labels: x/exchange, x/amm
