Repository crescent-network/crescent, pull requests merged in 2022-05, with the labels that each got.

#28 fix: fix simulation for the claim module #292 #304
  .github/labeler.yml
  x/claim/module.go
  x/claim/simulation/operations.go
  x/claim/simulation/operations_test.go
  x/claim/types/expected_keepers.go
Labels: x/claim

#29 fix: optimize CancelAllOrders gas usage, fix offer coin checking #296 #299
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
Labels: x/liquidity

#30 docs: use Ignite CLI
  docs/cli/claim.md
  docs/cli/farming.md
  docs/cli/liquidity.md
  docs/cli/liquidstaking.md
Labels: documentation

#32 feat: emit events for order trading volume
  x/liquidity/keeper/swap.go
  x/liquidity/spec/07_events.md
  x/liquidity/types/events.go
Labels: x/liquidity

#33 refactor!: use time-based queued staking and reserve unharvested rewards #305
  CHANGELOG.md
  app/app.go
  app/upgrades/mainnet/v2.0.0/upgrade.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/farming.md
  docs/cli/farming.md
  docs/demo/budget_with_farming.md
  docs/demo/farming_public_plans.md
  proto/crescent/farming/v1beta1/farming.proto
  proto/crescent/farming/v1beta1/genesis.proto
  proto/crescent/farming/v1beta1/query.proto
  x/farming/abci.go
  x/farming/client/cli/flags.go
  x/farming/client/cli/query.go
  x/farming/client/cli/tx.go
  x/farming/client/testutil/suite.go
  x/farming/handler_test.go
  x/farming/keeper/epoch.go
  x/farming/keeper/genesis.go
  x/farming/keeper/genesis_test.go
  x/farming/keeper/grpc_query.go
  x/farming/keeper/grpc_query_test.go
  x/farming/keeper/invariants.go
  x/farming/keeper/invariants_test.go
  x/farming/keeper/keeper_test.go
  x/farming/keeper/migrations.go
  x/farming/keeper/plan.go
  x/farming/keeper/proposal_handler_test.go
  x/farming/keeper/reward.go
  x/farming/keeper/reward_test.go
  x/farming/keeper/simulation_test.go
  x/farming/keeper/staking.go
  x/farming/keeper/staking_test.go
  x/farming/legacy/v1/types.go
  x/farming/legacy/v2/store.go
  x/farming/legacy/v2/store_test.go
  x/farming/module.go
  x/farming/simulation/operations_test.go
  x/farming/spec/02_state.md
  x/farming/spec/03_state_transitions.md
  x/farming/spec/04_messages.md
  x/farming/spec/05_end_block.md
  x/farming/types/errors.go
  x/farming/types/farming.pb.go
  x/farming/types/genesis.go
  x/farming/types/genesis.pb.go
  x/farming/types/genesis_test.go
  x/farming/types/keys.go
  x/farming/types/keys_test.go
  x/farming/types/params.go
  x/farming/types/plan.go
  x/farming/types/query.pb.go
  x/farming/types/query.pb.gw.go
  x/farming/types/utils.go
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/keeper/tally_test.go
  x/liquidstaking/types/expected_keepers.go
Labels: documentation, x/farming, x/liquidstaking
