Repository crescent-network/crescent, pull requests merged in 2022-11, with the labels that each got.

#95 fix: fix total farming amount in LiquidFarm and LiquidUnfarm
  docs/api/liquidfarming.md
  docs/cli/claim.md
  docs/cli/farming.md
  docs/cli/liquidfarming.md
  docs/cli/liquidity.md
  docs/cli/liquidstaking.md
  docs/cli/marketmaker.md
  proto/crescent/liquidfarming/v1beta1/query.proto
  x/liquidfarming/client/testutil/suite.go
  x/liquidfarming/keeper/grpc_query.go
  x/liquidfarming/keeper/grpc_query_test.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/keeper/liquidfarm_test.go
  x/liquidfarming/types/query.pb.go
Labels: documentation, x/liquidfarming

#97 feat: add fees information in `RewardsAuction`
  config-test.yml
  docs/api/liquidfarming.md
  proto/crescent/liquidfarming/v1beta1/liquidfarming.proto
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/spec/02_state.md
  x/liquidfarming/types/auction.go
  x/liquidfarming/types/auction_test.go
  x/liquidfarming/types/liquidfarming.pb.go
Labels: documentation, x/liquidfarming

#108 fix: register legacy amino codec for ledger use
  x/liquidfarming/types/codec.go
Labels: x/liquidfarming

#103 fix: fix incorrect rewards value for RewardsAuction
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/auction_test.go
Labels: x/liquidfarming

#106 feat: add pagination and auction status optional flags for CLI queries
  docs/cli/liquidfarming.md
  x/liquidfarming/client/cli/flags.go
  x/liquidfarming/client/cli/query.go
Labels: documentation, x/liquidfarming

#111 feat: add missing pagination flags for CLI commands
  x/liquidity/client/cli/query.go
  x/lpfarm/client/cli/query.go
  x/marketmaker/client/cli/query.go
Labels: x/liquidity, x/marketmaker, x/lpfarm

#107 feat: store previous share of a farm denom
  proto/crescent/lpfarm/v1beta1/lpfarm.proto
  x/lpfarm/keeper/plan.go
  x/lpfarm/keeper/util.go
  x/lpfarm/types/lpfarm.pb.go
Labels: x/lpfarm

#105 docs: update LF spec
  docs/whitepapers/liquidfarming/auction.md
  go.mod
  go.sum
  x/liquidfarming/spec/01_concepts.md
  x/liquidfarming/spec/02_state.md
  x/liquidfarming/spec/03_state_transitions.md
  x/liquidfarming/spec/04_messages.md
  x/liquidfarming/spec/05_begin_block.md
  x/liquidfarming/spec/07_params.md
Labels: documentation, x/liquidfarming

#117 feat: emit withdrawn rewards events for `LiquidUnfarm` and `LiquidUnfarmAndWithdraw`
  x/liquidfarming/keeper/liquidfarm.go
  x/liquidfarming/spec/06_events.md
  x/liquidfarming/types/events.go
Labels: x/liquidfarming

#120 fix: set previous share to nil for excluded pools
  x/lpfarm/keeper/plan.go
  x/lpfarm/keeper/plan_test.go
Labels: x/lpfarm

#119 fix: validate auction status when placing a bid
  x/liquidfarming/keeper/auction.go
  x/liquidfarming/keeper/auction_test.go
Labels: x/liquidfarming
