Repository crescent-network/crescent, pull requests merged in 2022-04, with the labels that each got.

#10 docs: revise mint, claim spec docs #268 #271
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/mint/v1beta1/mint.proto
  x/claim/spec/02_state.md
  x/mint/spec/01_concepts.md
  x/mint/spec/02_state.md
  x/mint/spec/03_begin_block.md
  x/mint/spec/04_params.md
  x/mint/spec/05_events.md
  x/mint/types/mint.pb.go
Labels: documentation

#11 fix: limiting StakingCoinWeights and EpochAmount, disable ratio plan #270 #284
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/cli/farming.md
  docs/demo/budget_with_farming.md
  docs/demo/farming_public_plans.md
  proto/crescent/farming/v1beta1/farming.proto
  proto/crescent/farming/v1beta1/query.proto
  x/farming/client/cli/tx.go
  x/farming/client/testutil/suite.go
  x/farming/handler.go
  x/farming/keeper/genesis_test.go
  x/farming/keeper/keeper.go
  x/farming/keeper/keeper_test.go
  x/farming/keeper/msg_server.go
  x/farming/keeper/plan.go
  x/farming/keeper/plan_test.go
  x/farming/keeper/proposal_handler.go
  x/farming/keeper/proposal_handler_test.go
  x/farming/module_test.go
  x/farming/simulation/operations.go
  x/farming/simulation/operations_test.go
  x/farming/spec/02_state.md
  x/farming/spec/03_state_transitions.md
  x/farming/spec/04_messages.md
  x/farming/spec/05_end_block.md
  x/farming/spec/06_events.md
  x/farming/spec/07_params.md
  x/farming/spec/08_proposal.md
  x/farming/types/errors.go
  x/farming/types/events.go
  x/farming/types/expected_keepers.go
  x/farming/types/farming.pb.go
  x/farming/types/msgs.go
  x/farming/types/params.go
  x/farming/types/proposal.go
  x/farming/types/proposal_test.go
  x/farming/types/query.pb.go
  x/liquidstaking/keeper/tally_test.go
Labels: enhancement, x/farming

#9 docs: update README.md
  CODEOWNERS
  README.md
  crescent_core_image.png
Labels: documentation

#23 fix: fix gas consumption issue for `ConditionTypeVote`
  CHANGELOG.md
  README.md
  app/upgrades/mainnet/v1.1.0/upgrade.go
  x/claim/keeper/claim.go
  x/claim/keeper/claim_test.go
  x/claim/types/expected_keepers.go
Labels: bug, app, x/claim

#26 env: add more workflow actions #301
  .github/labeler.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency.yml
  .github/workflows/janitor.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint-pr.yml
  .github/workflows/stale.yml
Labels: ci
