Repository crescent-network/crescent, pull requests merged in 2022-09, with the labels that each got.

#59 build: add v3 upgrade handler
  CHANGELOG.md
  app/app.go
  app/upgrades/mainnet/v3/upgrade.go
  app/upgrades/mainnet/v3/upgrade_test.go
  x/liquidity/keeper/params.go
  x/liquidity/module.go
Labels: x/liquidity, app, build

#60 feat: add MM order cli commands and update api docs #355
  docs/cli/liquidity.md
  x/farming/spec/01_concepts.md
  x/farming/spec/04_messages.md
  x/liquidity/client/cli/tx.go
Labels: documentation, x/farming, x/liquidity

#61 docs: add docs for the marketmaker module
  config-test.yml
  docs/api/marketmaker.md
  docs/cli/marketmaker.md
  x/marketmaker/client/cli/tx.go
  x/marketmaker/client/cli/utils_test.go
Labels: documentation, x/marketmaker

#62 docs: ameding equation on market maker scoring #357
  docs/whitepapers/marketmaker/scoring.md
Labels: documentation

#64 docs: fix mm paper example number #358
  docs/whitepapers/marketmaker/scoring.md
Labels: documentation

#65 feat: add last blocktime endpoint #361
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/mint/v1beta1/query.proto
  x/mint/keeper/grpc_query.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Labels: x/mint

#68 docs: update mm scoring paper
  docs/whitepapers/marketmaker/1.png
  docs/whitepapers/marketmaker/2.png
  docs/whitepapers/marketmaker/scoring.md
Labels: documentation
