Repository crescent-network/crescent, pull requests merged in 2022-07, with the labels that each got.

#39 fix: bug in order book and pool orders calculation #323
  x/liquidity/amm/match.go
  x/liquidity/amm/orderbook.go
  x/liquidity/amm/pool.go
  x/liquidity/amm/pool_test.go
  x/liquidity/keeper/swap_test.go
Labels: x/liquidity

#41 fix: fix bug in matching logic #326
  x/liquidity/amm/match.go
  x/liquidity/keeper/bench_test.go
  x/liquidity/keeper/swap_test.go
Labels: x/liquidity

#42 docs: add liquidity whitepaper (pool) #325
  docs/whitepapers/liquidity/pool.md
  x/liquidity/spec/01_concepts.md
  x/liquidity/spec/02_state.md
  x/liquidity/spec/04_messages.md
  x/liquidity/spec/07_events.md
Labels: documentation, x/liquidity

#43 build: add dbbackend selecting tag on makefile
  Makefile
  go.mod
  go.sum
Labels: build

#44 fix: return as many ticks as `numTicks` in `MakeOrderBookResponse` #333
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/swap_test.go
  x/liquidity/types/example_orderbook_test.go
  x/liquidity/types/orderbook.go
  x/liquidity/types/orderbook_test.go
Labels: x/liquidity

#47 docs: add liquidity module white paper (matching) #328 #337
  docs/whitepapers/liquidity/matching.md
  x/liquidity/spec/01_concepts.md
  x/liquidity/spec/03_state_transitions.md
Labels: documentation, x/liquidity

#46 feat: improve PoolResponse from gGRPC queries #335
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/liquidity.md
  proto/crescent/liquidity/v1beta1/query.proto
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/grpc_query_test.go
  x/liquidity/types/query.pb.go
  x/liquidity/types/util.go
Labels: documentation, x/liquidity

#48 refactor!: refactor `MakeOrderBookResponse` #338
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/liquidity.md
  docs/cli/liquidity.md
  proto/crescent/liquidity/v1beta1/query.proto
  x/liquidity/amm/view.go
  x/liquidity/amm/view_test.go
  x/liquidity/client/cli/query.go
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/grpc_query_test.go
  x/liquidity/keeper/simulation_test.go
  x/liquidity/keeper/swap.go
  x/liquidity/keeper/swap_test.go
  x/liquidity/types/example_orderbook_test.go
  x/liquidity/types/orderbook.go
  x/liquidity/types/orderbook_test.go
  x/liquidity/types/query.pb.go
  x/liquidity/types/util.go
Labels: documentation, x/liquidity

#49 fix: limit the number of active pools in a pair #340
  CHANGELOG.md
  x/liquidity/keeper/pool.go
  x/liquidity/keeper/pool_test.go
  x/liquidity/types/errors.go
  x/liquidity/types/params.go
Labels: x/liquidity

#50 refactor!: detailed configuration for order book responses #341
  CHANGELOG.md
  x/liquidity/keeper/grpc_query.go
  x/liquidity/types/example_orderbook_test.go
  x/liquidity/types/orderbook.go
  x/liquidity/types/orderbook_test.go
Labels: x/liquidity

#51 fix: bug some pool coins voting power omitted on voting_powers #342
  CHANGELOG.md
  x/liquidstaking/keeper/keeper_test.go
  x/liquidstaking/keeper/tally.go
  x/liquidstaking/keeper/tally_test.go
  x/liquidstaking/types/expected_keepers.go
Labels: x/liquidstaking

#52 refactor: add `price_unit_powers` param to order books query #344
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/liquidity/v1beta1/query.proto
  x/liquidity/keeper/grpc_query.go
  x/liquidity/keeper/grpc_query_test.go
  x/liquidity/types/query.pb.go
Labels: x/liquidity
