Repository crescent-network/crescent, pull requests merged in 2023-08, with the labels that each got.

#175 fix: disable deprecated modules and fix simulation
  Makefile
  app/ante/msg_ante.go
  app/app.go
  app/params/weights.go
  app/sim_test.go
  x/liquidstaking/module.go
  x/liquidstaking/simulation/operations.go
  x/liquidstaking/simulation/operations_test.go
Labels: x/liquidstaking, build

#172 fix: send remaining reserves to last one who removes liquidity
  app/upgrades/mainnet/v5/upgrade_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/amm.proto
  proto/crescent/amm/v1beta1/query.proto
  x/amm/keeper/position.go
  x/amm/keeper/position_test.go
  x/amm/types/amm.pb.go
  x/amm/types/pool.go
  x/amm/types/pool_test.go
  x/amm/types/query.pb.go
  x/liquidamm/keeper/public_position_test.go
Labels: x/liquidamm, x/amm

#177 fix: fix bug in NumMMOrders calculation
  x/exchange/keeper/order.go
  x/exchange/keeper/order_test.go
Labels: x/exchange

#179 fix: do not update matching height when there's no matching
  x/exchange/keeper/batch.go
  x/exchange/types/matching.go
Labels: x/exchange

#180 feat: add position_id in public position query
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/liquidamm/v1beta1/query.proto
  x/liquidamm/keeper/grpc_query.go
  x/liquidamm/keeper/grpc_query_test.go
  x/liquidamm/types/query.pb.go
Labels: x/liquidamm

#181 fix: fix pool query (include missing fields in response)
  x/amm/keeper/grpc_query_test.go
  x/amm/types/query.go
Labels: x/amm

#182 fix: fix matching and fee
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/position_test.go
  x/amm/keeper/source.go
  x/exchange/keeper/grpc_query_test.go
  x/exchange/keeper/order.go
  x/exchange/keeper/order_test.go
  x/exchange/types/matching.go
  x/exchange/types/mem_order.go
Labels: x/amm, x/exchange

#183 refactor: improve pool order performance
  app/upgrades/mainnet/v5/upgrade.go
  x/amm/keeper/order_test.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_bench_test.go
  x/amm/simulation/operations.go
  x/amm/types/math_test.go
  x/amm/types/params.go
  x/amm/types/tick.go
  x/amm/types/tick_test.go
  x/exchange/keeper/batch.go
  x/exchange/keeper/order.go
Labels: x/amm, x/exchange

#185 feat: add pool `min_order_quote`
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/amm.proto
  proto/crescent/amm/v1beta1/event.proto
  proto/crescent/amm/v1beta1/proposal.proto
  proto/crescent/amm/v1beta1/query.proto
  x/amm/keeper/pool.go
  x/amm/keeper/pool_bench_test.go
  x/amm/keeper/proposal_handler.go
  x/amm/keeper/proposal_handler_test.go
  x/amm/simulation/proposals.go
  x/amm/types/amm.pb.go
  x/amm/types/event.pb.go
  x/amm/types/params.go
  x/amm/types/pool.go
  x/amm/types/pool_test.go
  x/amm/types/proposal.go
  x/amm/types/proposal.pb.go
  x/amm/types/proposal_test.go
  x/amm/types/query.go
  x/amm/types/query.pb.go
Labels: x/amm

#186 fix: constrain maker fee rate to non-negative value
  app/testutil/amm.go
  app/testutil/exchange.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/exchange/v1beta1/params.proto
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/invariants.go
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
  x/amm/keeper/source.go
  x/exchange/keeper/grpc_query_test.go
  x/exchange/keeper/market.go
  x/exchange/keeper/matching.go
  x/exchange/keeper/order_test.go
  x/exchange/keeper/params.go
  x/exchange/simulation/genesis.go
  x/exchange/simulation/params_test.go
  x/exchange/types/fee.go
  x/exchange/types/fee_test.go
  x/exchange/types/market.go
  x/exchange/types/market_test.go
  x/exchange/types/mem_order.go
  x/exchange/types/mem_order_test.go
  x/exchange/types/params.go
  x/exchange/types/params.pb.go
  x/exchange/types/params_test.go
  x/exchange/types/proposal.go
  x/exchange/types/proposal_test.go
  x/exchange/types/source.go
Labels: x/amm, x/exchange

#187 refactor: safely run batch matching using cached ctx
  x/exchange/abci.go
Labels: x/exchange

#190 feat: add PositionAssets query
  app/params/weights.go
  app/testutil/liquidamm.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/crescent/amm/v1beta1/query.proto
  x/amm/client/cli/query.go
  x/amm/keeper/grpc_query.go
  x/amm/keeper/grpc_query_test.go
  x/amm/keeper/position.go
  x/amm/simulation/operations.go
  x/amm/types/query.pb.go
  x/amm/types/query.pb.gw.go
  x/exchange/simulation/operations.go
Labels: x/amm, x/exchange

#191 refactor: rename lashare to sb(snowball)
  x/liquidamm/keeper/auction_test.go
  x/liquidamm/keeper/grpc_query.go
  x/liquidamm/keeper/grpc_query_test.go
  x/liquidamm/keeper/public_position_test.go
  x/liquidamm/types/auction_test.go
  x/liquidamm/types/msgs_test.go
  x/liquidamm/types/public_position.go
  x/liquidamm/types/public_position_test.go
Labels: x/liquidamm

#192 fix: prevent IteratePoolOrders to run forever
  x/amm/keeper/pool.go
  x/amm/keeper/pool_test.go
Labels: x/amm
